<!-- Generate Basic Table -->
<div class="ht_master handsontable">
  <div class="wtHolder">
    <div class="wtHider">
      <div class="wtSpreader">
        <table class="htCore">
          <colgroup>
            <col>
            {{#each model as |i|}}
            <col style="width:71px">
            {{/each}}
          </colgroup>
          <thead></thead>
          <tbody> <!-- Generate Cells Here -->
            {{#each model as |i|}}
              <tr>
                {{#each model as |j|}}
                  {{cl-cell value=j}}
                {{/each}}
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
